:root {
  --main-color: #0dbfaf;
  --alt-color: #f47f16;
  --main-transition: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

.main-color {
  color: var(--main-color);
}

.alt-color {
  color: var(--alt-color);
}

.bg-main {
  background-color: var(--main-color);
}

.bg-alt {
  background-color: var(--alt-color);
}

button.bg-main:hover {
  background-color: hsla(175, 87%, 40%, 0.8);
}

button.bg-alt:hover {
  background-color: hsla(28, 91%, 52%, 0.8);
}

button.bg-main {
  margin: 5px 0;
}

button.bg-alt {
  margin: 5px 0;
}

.main-title {
  position: relative;
}
.main-title::before, .main-title::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px;
}
.main-title::before {
  width: 210px;
  height: 2px;
  bottom: -30px;
}
.main-title::after {
  width: 40px;
  height: 10px;
  bottom: -35px;
}
.main-title h1 {
  font-weight: 800 !important;
}
.main-title span {
  letter-spacing: 3px;
}

span.top-shadow {
  display: block;
  width: 100%;
  height: 5px;
  box-shadow: 0 10px 12px 0px hsla(175, 87%, 40%, 0.5);
  transform: rotate(-2deg);
}

span.bottom-shadow {
  display: block;
  width: 100%;
  height: 5px;
  box-shadow: 0 -10px 12px 0px hsla(175, 87%, 40%, 0.5);
  transform: rotate(-2deg);
}

.header {
  box-shadow: 3px 4px 35px rgba(13, 191, 176, 0.2666666667);
}
.header .logo {
  cursor: pointer;
}
.header .logo img {
  width: 40px;
  height: 40px;
}
.header ul li a {
  color: #000;
  transition: var(--main-transition);
}
.header ul li a.active {
  color: var(--main-color);
}
.header ul li a:hover {
  color: var(--main-color);
}
.header .bars {
  display: none;
}

@media (max-width: 992px) {
  .header {
    position: relative;
  }
  .header ul.nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 88px);
    background-color: var(--main-color);
    flex-direction: column;
    left: -100%;
    top: 88px;
    z-index: 555;
    transition: var(--main-transition);
  }
  .header ul.nav li a {
    color: #fff;
  }
  .header .show {
    left: 0 !important;
  }
  .header .bars {
    display: block;
    cursor: pointer;
  }
}
.home {
  min-height: calc(100vh - 72px);
  overflow: hidden;
  position: relative;
}
.home h2 {
  font-size: 25px;
  letter-spacing: -1px;
}
.home .image {
  padding: 20px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 3px 4px 45px rgba(13, 191, 176, 0.2666666667);
}
.home .image .img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("../imgs/home.jpg");
  background-position: -25px;
  background-size: cover;
  background-repeat: no-repeat;
}
.home svg {
  position: absolute;
  width: 140%;
  bottom: -80px;
  z-index: -5555;
}

@media (max-width: 440px) {
  .home .image .img {
    max-width: 300px;
    height: 300px;
  }
  .home svg {
    bottom: 0;
  }
}
@media (max-width: 440px) {
  .home .image .img {
    max-width: 300px;
    height: 300px;
  }
  .home svg {
    bottom: 0;
  }
}
@media (max-width: 340px) {
  .home {
    min-height: auto !important;
  }
  .home .image .img {
    max-width: 200px;
    height: 200px;
  }
}
.about .container .box {
  box-shadow: hsla(175, 87%, 40%, 0.267) 0px 10px 45px -3px, hsla(175, 87%, 40%, 0.267) 0px 4px 45px -2px;
  width: 80%;
  margin: auto;
}
.about .photo img {
  max-width: 100%;
}
.about p {
  font-size: 15px;
}
.about ul.features li {
  position: relative;
  font-size: 15px;
}
.about ul.features li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: 0;
  top: 50%;
  transform: translateY(calc(-50% - 4px));
  background-color: var(--main-color);
  border-radius: 50%;
}

@media (max-width: 992px) {
  .about .box {
    flex-direction: column;
    width: 90% !important;
  }
  .about .box .info {
    padding: 20px !important;
  }
  .about img {
    display: block;
    margin: 0 auto;
  }
}
.services .container svg {
  font-size: 50px;
}
.services .container span {
  font-size: 14px;
}
.services .web-design {
  background-color: #8641ff;
}
.services .interface-design {
  background-color: #ffc50c;
}
.services .web-development {
  background-color: #ec407a;
}
.services .ux-design {
  background-color: #ff6332;
}
.services .motion-graphic {
  background-color: #14b6ff;
}
.services .seo-optimize {
  background-color: #4aaf47;
}
.services .card {
  overflow: hidden;
  height: 300px;
  width: 300px;
}
.services .card span {
  width: 80%;
  margin: 0 auto;
}
.services .card .card-body {
  position: relative;
  z-index: 555;
}
.services .card svg.waves {
  position: absolute;
  bottom: 40px;
  transform: scale(3) rotate(2deg);
  z-index: -1;
  opacity: 0.5;
}

@media (max-width: 310px) {
  .services .card {
    width: auto;
    height: auto;
  }
}
.resume .box {
  box-shadow: hsla(175, 87%, 40%, 0.267) 0px 10px 45px -3px, hsla(175, 87%, 40%, 0.267) 0px 4px 45px -2px;
}
.resume .box ul {
  position: relative;
  padding: 10px 0;
}
.resume .box ul::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  z-index: -55;
}
.resume .box ul li {
  margin: 10px 0 !important;
  padding: 10px 0;
  position: relative;
  cursor: pointer;
}
.resume .box ul li::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  z-index: -44;
}
.resume .box ul li.active {
  color: #fff;
  background-color: var(--main-color);
  border-radius: 0 20px 20px 0;
}
.resume .box ul svg {
  padding-left: 10px;
  border-radius: 50%;
}
.resume .box ul span {
  font-size: 17px;
}
.resume .description {
  width: 60% !important;
  position: relative;
  padding: 20px 0 0;
}
.resume .description::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: var(--main-color);
}
.resume .description .skill {
  position: relative;
}
.resume .description .skill::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 6px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--main-color);
}
.resume .description .skill .years {
  padding: 2px 15px;
  border-radius: 50px;
}

@media (max-width: 790px) {
  .resume .container {
    flex-direction: column;
  }
  .resume .container .description {
    width: 90% !important;
    margin-top: 40px;
  }
}
.portfolio ul li {
  cursor: pointer;
  transition: var(--main-transition);
}
.portfolio ul li.active {
  color: #fff;
  background-color: var(--main-color);
  border-radius: 50px;
}
.portfolio ul li:not(.active):hover {
  color: var(--main-color);
}
.portfolio .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
  background-color: var(--main-color);
  cursor: pointer;
}
.portfolio .box::before {
  content: attr(data-work);
  width: 0;
  height: calc(100% - 10px);
  position: absolute;
  left: 5px;
  top: 5px;
  background-color: rgba(51, 209, 204, 0.76);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: transparent;
  transition: 0.3s;
}
.portfolio .box:hover::before {
  width: calc(100% - 10px);
  color: white;
}

.contactus .maps {
  position: relative;
  height: 100vh;
}
.contactus .maps iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -99;
}
.contactus .maps .form {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: hsla(175, 87%, 40%, 0.267) 0px 10px 25px -3px, hsla(175, 87%, 40%, 0.267) 0px 4px 25px -2px;
  z-index: 99;
}
.contactus .maps .form h2 {
  font-weight: 800;
}
.contactus .maps .form input,
.contactus .maps .form textarea {
  padding: 10px;
  margin: 10px 0;
  border: none;
  box-shadow: hsla(175, 87%, 40%, 0.267) 0px 10px 25px -3px, hsla(175, 87%, 40%, 0.267) 0px 4px 25px -2px;
}
.contactus .maps .form input:focus,
.contactus .maps .form textarea:focus {
  outline: none;
}
.contactus .maps .form textarea {
  margin-bottom: 20px;
  height: 200px;
  resize: none;
}

@media (max-width: 767px) {
  .contactus .maps {
    height: auto;
    padding: 30px 0;
  }
  .contactus .maps .form {
    position: relative;
    width: 90%;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
  }
}
footer .copyright {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}
footer .contact ul svg {
  width: 20px;
  height: 20px;
}
footer .facebook {
  background-color: #1877f2;
}
footer .twitter {
  background-color: #1da1f2;
}
footer .linkedin {
  background-color: #0077b5;
}
footer .youtube {
  background-color: #ff0000;
}/*# sourceMappingURL=style.css.map */